.card-block {
  color: black;
}

.preview_picture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 288px;
}

footer {
  bottom: 0;
  line-height: 60px;
}

.link {
  text-decoration: none !important;
}

.edit-picture {
  width: 100%;
  margin: 0 0 10px 0;
}