.card-block {
  color: black;
}

.thumb {
  object-fit: none;
  object-position: center;
  width: 10%;
  max-height: 200px;
  margin-bottom: 1rem;
}

.preview_picture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 288px;
}

footer {
  position: absolute;
  bottom: 0;
  line-height: 60px;
}